@use "sass:color";
@import "styles/fonts";

* {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #222;
  font: 400 0.875rem Inter, Arial, Helvetica, sans-serif;
  height: 100%;
}

#app {
  height: 100%;
}

a {
  color: #04486f;
  text-underline-offset: 1.5px;
  transition: all 0.1s;

  &:hover {
    color: color.adjust(#04486f, $lightness: 20%);
  }

  &:active {
    color: #a3597c;
  }
}

p {
  line-height: 150%;
  padding: 5px 0;
}

strong {
  font-weight: 600;
}

abbr {
  border-bottom: 1px dotted #333;
  cursor: help;
}

h1 {
  font: 400 2.5rem Satoshi, Inter, Arial, sans-serif;
  line-height: 100%;
  margin: -5px 0 10px -3px;
}

.slide {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
  padding: 8rem 0;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1050px;
  position: relative;
}

@media only screen and (max-height: 700px) {
  .wrapper {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 700px) {
  .slide {
    display: block;
    height: auto;
  }

  .wrapper {
    padding: 80px 20px;
  }
}
